<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= "Score_tag: #{result.score_tag}" %></td>
        <td><%= "Confidence: #{result.confidence}" %></td>
        <td><%= "Agreement: #{result.agreement}" %></td>
        <td><%= "Subjectivity: #{result.subjectivity}" %></td>
        <td><%= "Irony: #{result.irony}" %></td>
        <td><%= "#{result.text_excerpt}" %></td>

        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Upload more', textfiles_path %>