<p id="notice"><%= notice %></p>

<div><%= "Score_tag: #{@result.score_tag}" %></div>
<div><%= "Confidence: #{@result.confidence}" %></div>
<div><%= "Agreement: #{@result.agreement}" %></div>
<div><%= "Subjectivity: #{@result.subjectivity}" %></div>
<div><%= "Irony: #{@result.irony}" %></div>
<div><%= "#{@result.text_excerpt}" %></div>

<%= link_to 'Back', results_path %>
